*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	color: #01F1FF;
	font-family: 'Roboto', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	background-color: #333333;
}

.my-name{
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 60px;
	color: #E4E7FF;
	font-weight: 700;
}

.profession{
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
	font-weight: 600;
	color: #E4E7FF;
}


a{
	color: white;
}

.main{
	background-image: url(../img/neon-lem.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
	height: 720px;
	width: 100%;
}

/* //////////////////////////// */
.footer{
	color: #E4E7FF;
	margin: 0 auto;
	text-align: center;
}

.home-name{
	text-align: center;
	/*transform: translate(-50%, -50%);*/
}

#about{
	padding: 50px;
	min-height: 500px;
}

.first-img,.second-img,.third-img,.fourth-img{
	height: 350px;
	width: 250px;
	/*background-color: grey;*/
}

#skills{
	height: 500px;
	width: 100%;
	/*background-color: white;*/
	padding: 50px;
	overflow: hidden;
}

.card-custom{
	float: left;
}

.img-customize{
	margin-top: 20px;
	`
}

.clear:after{ 
	/* looks for the last element  INSIDE 
	the clear class and add the style 
	below*/
	content: ""; /* no content */
	clear: both; /* ignores all floats */
	display: block; /* generic div element */
}

#capstone{
	padding: 50px;
}

#contact{
	/*background-color: white;*/
	padding: 50px;
}

.contact-info{
	text-align: center;
	/*left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);*/
}

#footer{
	padding: 50px;
	/*display: inline-block;*/
}

.social-icon{
	margin-top: 20px;
	font-size: 25px;
	float: right;
	/*display: inline-block;*/
}

i{
	padding: 10px;
}


