/* Author: Lemuel H. Untalan
    Date: February 7, 2020
*/

/* -------------------------- UNIVERSAL ---------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FBFBFB;
}
h1, h2 {
    font-weight: 700;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 36px;
}
.subtitle {
  margin-bottom: 25px;
}
.section-container-design {
  background-color: #FBFBFB;
  padding: 50px;
}
@media only screen and (min-width: 576px) {
  .section-container-design {
    border-radius: 25px;
  }
}
@media only screen and (max-width: 575px) {
  .section-container-design {
    padding: 40px 25px;
  }
}

/* ----------------------------- end ---------------------------------- */

/* -------------------------- HELPERS ---------------------------- */

.txt-reg { font-weight: 400; }
.txt-bold { font-weight: 700; }
.txt-lower { text-transform: lowercase; }
.txt-upper { text-transform: uppercase; }

/* ----------------------------- end ---------------------------------- */

/* ----------------------------- MAIN ---------------------------------- */

.landing-page {
    background-image: url('../img/abstract-bg-cropped.jpg');
    background-repeat: no-repeat;
    background-position: 0 -70px;
    background-attachment: fixed;
    background-size: cover;
}
/* @media only screen and (min-width: 1921px) {
  .landing-page {
    background-size: contain;
  }
}
@media only screen and (max-width: 1920px) {
  .landing-page {
    background-size: 125%;
  }
}
@media only screen and (max-width: 991px) {
  .landing-page {
    background-size: 275%;
  }
}
@media only screen and (max-width: 575px) {
  .landing-page {
    background-size: 500%;
  }
} */
/* ----------------------------- end ---------------------------------- */

/* -------------------------- MAIN HEADER ---------------------------- */

.main-header {
    padding-top: 40px;
    padding-bottom: 40px;
}
.navbar {
    color: #9C9C9C;
    padding-left: 0;
    padding-left: right;
}
.nav-item {
    padding: 15px 30px;
    background-color: #cccccc;
}
.nav-item:hover {
    background-color: #1a1a1a;
}
.nav-item a {
    color: #1a1a1a;
}
.nav-item:hover a {
    color: #ffffff;
    border-bottom: 1px solid #cccccc;
}
.nav-link {
    padding: 0;
}
.navbar-toggler {
  background-color: #9368B8;
}
.navbar-toggler .fas.fa-bars {
  padding-top: 5px;
  padding-bottom: 5px;
}
@media only screen and (max-width: 575px) {
  .main-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* ----------------------------- end ---------------------------------- */

/* ----------------------------- BANNER ---------------------------------- */

.banner-section {
    padding-bottom: 50px;
}
.grad-pic {
    border-radius: 50%;
    width:200px;
    height:200px;
    margin-bottom: 2rem;
}
.introduction {
    margin-top: 100px;
}
.main-title {
    margin-bottom: 1rem;
}
@media only screen and (max-width: 575px) {
  .introduction {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-title {
    font-size: 32px;
  }
  .grad-pic {
    width: 150px;
    height: 150px;
  }
}

/* ----------------------------- END ---------------------------------- */

/* ----------------------------- About ---------------------------------- */

.about-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.skills {
  margin-top: 50px;
  margin-bottom: 50px;
}
.skills-list,
.pro-exp-list {
  list-style: none;
}
.professional-experience .pro-exp-work {
  font-size: 20px;
  color: #8174C4;
  font-weight: 700;
}
.professional-experience .pro-exp-work:hover {
  text-decoration: none;
  color: #5A92E0;
  transition: color 0.5s;
}
@media only screen and (max-width: 575px) {
  .about-section {
    padding-top: 0;
    padding-bottom: 0;
  }
}
/* ----------------------------- END ---------------------------------- */

/* ----------------------------- Projects ---------------------------------- */

.projects-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.project-card {
  margin-bottom: 50px;
}
.project-card ul {
  list-style: none;
}
.project-card h3 a {
  color: #8174C4;
}
.project-card h3 a:hover {
  text-decoration: none;
  color: #5A92E0;
  transition: color 0.5s;
}
.project-screenshot {
  margin-top: 30px;
}
@media only screen and (max-width: 575px) {
  .projects-section {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* ----------------------------- END ---------------------------------- */

/* ----------------------------- Contact ---------------------------------- */

.contact-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.my-email,
.my-linkedin {
  font-size: 28px;
  margin-bottom: 20px;
}
.my-email a,
.my-linkedin a {
  color: #8174C4; 
}
.my-email a:hover,
.my-linkedin a:hover {
  text-decoration: none;
  color: #5A92E0;
  transition: color 0.5s;
}
.my-linkedin {
  font-size: 24px;
}
@media only screen and (max-width: 575px) {
  .contact-section {
    padding-top: 0;
    padding-bottom: 0;
  }
  .my-email,
  .my-linkedin {
    font-size: 18px;
  }
}


/* ----------------------------- END ---------------------------------- */